<nav th:fragment="nav_bar" class="nav_bar">
    <div class="nav_main_container">
        <div class="nav_main_subcontainer">
            <div class="nav_options">
                <ul>
                    <li>Crear cuenta
                    <li> |</li>
                    <li>Iniciar sesión
                </ul>
            </div>
        </div>
        <div class="nav_main_subcontainer">
            <div class="nav_options">
                <ul>
                    <li>🔎
                    <li> |</li>
                    <li>🛒 0 - $0,000
                </ul>
            </div>
        </div>
    </div>
    <div class="nav_secondary_container">
        <div class="nav_secondary_container_title">
            <h1>Dinorah<br>Indumentaria</h1>
        </div>
        <div class="nav_secondary_subcontainer">
            <div class="nav_options">
                <ul>
                    <li>PRODUCTOS
                    <li> |</li>
                    <li>BLOG
                    <li> |</li>
                    <li>CONTACTO
                    <li> |</li>
                    <li>QUIENES SOMOS
            </div>
        </div>
    </div>
</nav>
